html {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal; /* 18px */
  color: #fff;
  background-color: #0f0f0f;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.coinimix-logo {
  width: 200px;
  height: 30px;
}
